@use "sass:math";

$font-base: 16;

@function strip-unit($number) {
  @if type-of($number)=="number" and not unitless($number) {
    @return ($number / ($number * 0 + 1));
  }

  @return $number;
}

@function rm($px) {
  @return #{math.div(strip-unit($px), strip-unit($font-base))}rem;
}

@function em($px) {
  @return #{math.div(strip-unit($px), strip-unit($font-base))}em;
}

@mixin lvh($vh) {
  height: #{$vh}vh;
  height: #{$vh}lvh;
  @media screen and (max-width: 768px) {
    height: calc(var(--vh, 1lvh) * #{$vh});
  }
}